footer.page-footer(style="background-color:#8C1900")
  .container
    .row
      .col.l6
        h6.white-text CORONA LAB
        p.grey-text.text-lighten-4 <b>Blockchain</b>-based Internet <b>COVID-19 Patient Management System</b> project to secure personal data.
  

      .col.l4.offset-l2.s12
        h6.white-text Powered By&nbsp;
          <br /><br />
            a.grey-text.text-lighten-3(href='https://www.hyperledger.org/projects/fabric' target="_blank") 
                img(src='https://www.hyperledger.org/wp-content/uploads/2018/03/Hyperledger_Fabric_Logo_White.png' height='20px') 
                |&nbsp;&nbsp;
            
  .footer-copyright
    .container
      | &copy; 2020 Copyleft 
      a.grey-text.text-lighten-4.right(href='/opensource') Open source lience
